<header>
    <!-- Header file for TODO Application -->
    <style>
           h1{
            color: whitesmoke;
           }
    </style>
<div class="todoheading">
    <h1>TODO APP</h1>
</div>
</header>